.builder-wrapper-layout {
  margin-top: 2em;
}
.builder-header {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.builder-header p {
  margin-top: 1.2em;
}
.builder-buttons {
  display: flex;
  max-width: 60%;
  margin: 2.5em auto 0;
  gap: 2em;
}

.builder-buttons button {
  padding: 1.5rem;
}
