.final-contact-wrapper {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 1em;
  gap: 1em;
  border-bottom: 1px solid #7c7b7b;
}

.name-info .fullName {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  color: #7c7b7b;
}
.job-title,
.fullName,
.skills {
  letter-spacing: 0.1rem;
}
.job-title,
.skills,
.final-exp-container > p:first-child,
.final-edu-container > p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1.1rem;
}
.contact-info span {
  font-size: 1.2rem;
  font-weight: 900;
  color: #7c7b7b;
}
.final-summary-container,
.final-skills-container,
.final-exp-container,
.final-edu-container {
  width: 80%;
}

.final-skills-container {
  margin-top: 1em;
}

.skills,
.final-exp-container > p,
.final-edu-container > p {
  color: #7c7b7b;
}

.skills-layout {
  text-align: center;
  word-spacing: 1em;
}

.final-school-info,
.job-info-container {
  margin-top: 1em;
}

@media (max-width: 700px) {
  .contact-info {
    gap: 0;
  }
  .contact-info span {
    display: none;
  }
}
