.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 880px;
  margin-top: 1.5em;
  gap: 1em;
}
.form-heading-layout {
  display: grid;
  gap: 0.8em;
  margin-top: 2em;
  text-align: center;
}
.input-wrapper:has(#jobTitle) {
  grid-column: 1 / -1;
}

input {
  width: 100%;
  padding: 1.25em 0.3125em 0.5em 0.875em;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: transform 0.2s ease-in;
}

input:focus {
  outline: none;
  border-color: #2f95da;
}

input::placeholder {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in, font-size 0.2s ease-in;
}

input:focus::placeholder {
  font-size: 0.8rem;
  transform: translate(-2px, -15px);
  color: #2f95da;
}
